Source: libvshadow
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libfuse-dev, python-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libvshadow/

Package: libvshadow
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libvshadow-dbg
Description: Library to access the Windows NT Volume Shadow Snapshot (VSS) format
 libvshadow is a library to access the Windows NT Volume Shadow Snapshot (VSS) format.

Package: libvshadow-dbg
Architecture: any
Section: debug
Depends: libvshadow (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libvshadow
 Debugging symbols for libvshadow.

Package: libvshadow-dev
Section: libdevel
Architecture: any
Depends: libvshadow (= ${Source-Version})
Description: Header files and libraries for developing applications for libvshadow
 Header files and libraries for developing applications for libvshadow.

Package: libvshadow-tools
Section: utils
Architecture: any
Depends: libvshadow (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Windows NT Volume Shadow Snapshots (VSS)
 Several tools for reading Windows NT Volume Shadow Snapshots (VSS).

Package: libvshadow-python
Section: python
Architecture: any
Depends: libvshadow (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Suggests: libvshadow-python-dbg
Description: Python bindings for libvshadow
 Python bindings for libvshadow.

Package: libvshadow-python-dbg
Section: debug
Architecture: any
Depends: libvshadow-python (= ${Source-Version})
Description: Debugging symbols for libvshadow-python
 Debugging symbols for libvshadow-python.

